.git
.github
.vscode
.idea
node_modules
vendor
backups
playwright-report
test-results
tests-e2e
.env
.env.*
!/.env.example
comercio-plus-frontend/node_modules
comercio-plus-frontend/dist
comercio-plus-frontend/.env
storage/logs
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

