# Laravel
/vendor/
/node_modules/
.env
.env.*
.phpunit.result.cache
/storage/*.key
/storage/logs/
/storage/framework/
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/views/

# Frontend
/comercio-plus-frontend/node_modules/
/public/build/

# Tests / Playwright
/playwright-report/
/test-results/

# OS / Editor
.vscode/
.idea/
.DS_Store
Thumbs.db
