/* resources/css/forms.css */
input, select, textarea, button {
  font: inherit;
}
input::placeholder, textarea::placeholder {
  opacity: .7;
}

select,
select option,
select optgroup {
  color: #111827 !important;
}
select option,
select optgroup {
  background-color: #ffffff !important;
}
select option:checked,
select option:hover,
select option:focus {
  color: #111827 !important;
  background-color: #e5e7eb !important;
}
