@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 20 14.3% 95.9%;
    --foreground: 24 9.8% 10%;

    --card: 24 9.8% 100%;
    --card-foreground: 24 9.8% 10%;
 
    --popover: 24 9.8% 100%;
    --popover-foreground: 24 9.8% 10%;
 
    --primary: 19.1 94.1% 54.9%; /* Saturated Orange */
    --primary-foreground: 24 9.8% 10%;
 
    --secondary: 22.2 88.2% 94.9%; /* Light Orange */
    --secondary-foreground: 24 9.8% 10%;
 
    --muted: 24 5.4% 92.9%;
    --muted-foreground: 24 5.4% 45.9%;
 
    --accent: 14.1 89.5% 65.1%; /* Red-Orange */
    --accent-foreground: 24 9.8% 10%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 24 5.9% 90%;
    --input: 24 5.9% 90%;
    --ring: 19.1 94.1% 54.9%;
 
    --radius: 0.8rem;
  }
 
  .dark {
    --background: 24 9.8% 10%;
    --foreground: 0 0% 98%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 24 9.8% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 19.1 94.1% 54.9%;
    --primary-foreground: 24 9.8% 10%;
    --secondary: 14.1 89.5% 65.1%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 24 3.7% 15.9%;
    --muted-foreground: 24 5.4% 64.9%;
    --accent: 22.2 88.2% 94.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 24 3.7% 15.9%;
    --input: 24 3.7% 15.9%;
    --ring: 19.1 94.1% 54.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
